{% extends 'base.html' %}
{% load static %}

{% block title %}
Details
{% endblock %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/tasks/task-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="task-container">
  <div class="task-img">
  </div>
  <div class="task-details">
    <h1>{{ task.name }}</h1>
    <h2>Reward: {{ task.reward }}</h2>
    <h2>Penalty: {{ task.penalty }}</h2>
    <p>{{ task.description }}</p>
  </div>
</section>

{% endblock %}