{% extends 'base.html' %}
{% load static %}

{% block title %}
Details
{% endblock %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/tasks/task-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="task-container">
  <div class="task-img">
  </div>
  <div class="task-details">
    <h1>{{ task.name }}</h1>
    {% if task.reward.all.count %}
    <h2><span>Rewards:</span> {{ task.reward.all|join:" | " }}</h2>
    {% else %}
    <h2>No Rewards Listed</h2>
    {% endif %}

    {% if task.penalty.all.count %}
    <h2><span>Penalty:</span> {{ task.penalty.all|join:" | "}}</h2>

    {% else %}
    <h2>No Penalties Listed</h2>
    {% endif %}
    <h2><span>Priority:</span> {{ task.get_priority }} </h2>
    <p>{{ task.description }}</p>
    <div class="task-actions">
      <a href="{% url 'tasks_update' task.id %}" class="btn warn">Edit</a>
      <a href="{% url 'tasks_delete' task.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}