{% extends 'base.html' %}
{% load static %}

{% block title %}
Tasks
{% endblock %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/tasks/task-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Taskmaster's Work</h1>
</section>

<section class="card-container">
  {% for task in tasks %}
    <div class="card">
      <a href="{% url 'tasks_detail' task.id %}">
        <div class="card-content">
          <div class="card-img-container">
          </div>
          <h2 class="card-title">{{ task.name }}</h2>
          {% if task.reward.all.count %}
          <p><span>Rewards:</span> {{ task.reward.all|join:" | " }}</p>
          {% else %}
          <p>No Rewards</p>
          {% endif %}

          {% if task.penalty.all.count %}
          <p><span>Penalty:</span> {{ task.penalty.all|join:" | "}}</p>

          {% else %}
          <p>No Penalties</p>
          {% endif %}
          <p><small>{{ task.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}