{% extends 'base.html' %}
{% load static %}

{% block title %}
Tasks
{% endblock %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/tasks/task-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Taskmaster's Work</h1>
</section>

<section class="card-container">
  {% for task in tasks %}
    <div class="card">
      <a href="/tasks/{{ task.id }}">
        <div class="card-content">
          <div class="card-img-container">
          </div>
          <h2 class="card-title">{{ task.name }}</h2>
          <p>Reward: {{ task.reward }}</p>
          <p>Penalty: {{ task.penalty }}</p>
          <p><small>{{ task.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}